
<div class="sidebar">
    <div class="logo">
        Invoice Admin
    </div>
    <a href="#"><i class="bi bi-speedometer2"></i> Dashboard</a>
    <a routerLink="clients"><i class="bi bi-people"></i> Clients</a>
    <a  routerLink="invoices"><i class="bi bi-receipt"></i> Invoices</a>
    <a href="#"><i class="bi bi-cash"></i> Payments</a>
    <a href="#"><i class="bi bi-gear"></i> Settings</a>
    <a href="#"><i class="bi bi-box-arrow-right"></i> Logout</a>
</div>

<div class="content">
    <h2>Welcome to Invoice Dashboard</h2>
    <p>This is your main admin panel where you can manage clients, invoices, payments and more.</p>

    
    <router-outlet></router-outlet>

</div>
